@charset "utf-8";

/****** 共通基本設定
******************************************************/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #fff;
  margin: 0;
}

/* 外枠・コンテンツ中央設定  */

/* ヘッダー */

/* ナビゲーション */

/* コンテンツエリア設定 */

/* フッター */

/****** index.html用
******************************************************/
/* メインコンテンツエリア */

/* ニュースエリア */

/****** menu.html用
******************************************************/

/****** アクセスページ
******************************************************/

/****** コンタクトページ
******************************************************/

/* お問い合わせフォーム */
